@import "tailwindcss";

*,html{
  font-family: "Inter", sans-serif;
}


@theme{
  --color-logoColor:#46A358;
  --color-linkColor:#3D3D3D;
  --text-filterText:18px;
  --text-filterChildren:15px;
  --color-blogText:#727272;
  --text-blog-text-children:14px;
}

