@import "tailwindcss";

*,html{
  font-family: "Inter", sans-serif;
  transition: all 0.3s linear;
}


@theme{
  --color-logoColor:#46A358;
  --color-linkColor:#3D3D3D;
  --text-filterText:18px;
  --text-filterChildren:15px;
}
